@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/*font-family: 'Varela Round', sans-serif;*/

a{
  font-family: 'Varela Round', sans-serif;
}

body{
  font-family: 'Varela Round', sans-serif;
}

.textPreview{
  background-color: gray;
  height: auto;
  width:auto;
  overflow-y:scroll;
  padding: 10px;
  border-radius:8px;
}